.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
  }
  
  .register-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .register-form button {
    padding: 10px;
    background-color: #52b69a;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .register-form button:hover {
    background-color: #409a82;
  }
  