.logo {
  grid-area: 1 / 1 / 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.logo img {
  width: auto;
  height: auto;
  max-height: 100px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, max-height 0.3s ease;
  border-radius: 50px;
}

.header.scrolled .logo img {
  transform: scale(0.7);
  max-height: 70px;
}

@media (max-width: 992px) {
  .logo {
    grid-area: 1 / 1 / 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
  }
  
  .logo img {
    max-height: 80px;
    margin-top: 0;
  }
  
}

@media (max-width: 600px) {
  .logo {
    justify-content: center;
    grid-area: auto;
  }

  .logo img {
    max-height: 70px;
  }
}
